.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(222, 22, 38);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button,
.Quiz button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(222, 22, 38);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu,
.Quiz {
  color: white;
}

.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(222, 22, 38);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}

h3 {
  color: #ffffff;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
